input {
    /* border: 1px solid #D6D7DA;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0;  */
    display: block;
    width: 100%;
    outline: none;
}

.login:hover {
    cursor: pointer;
}
.forgot:hover {
    cursor: pointer;
}